@using TpPizza.Services
@inject IPanierService _PanierService

<div>
    <img src="@Pizza.ImageLink"/>
    <span>@Pizza.Name</span>
    <span>@Pizza.Price €</span>
    <button @onclick="AjouterPizza">Ajouter au panier</button>
</div>

@code {
    [Parameter]
    public Pizza Pizza { get; set; }

    public void AjouterPizza()
    {
        if (Pizza != null)
        {
            _PanierService.AjouterAuPanier(Pizza);
        }
    }
}