@page "/"
@using TpPizza.ViewModels
@using TpPizza.Services
@inject PizzasViewModel _PizzasViewModel
@inject IFavorisService _FavorisService
<div class="row">
    <div class="col-8">
        @foreach (Pizza pizza in _PizzasViewModel.Pizzas)
        {
            <div class="row">
                <div class="col-12">
                    <PizzaComponent Pizza="pizza"></PizzaComponent>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <PanierComponent Pizzas="_PizzasViewModel.PizzaPaniers" Total="_PizzasViewModel.Total"></PanierComponent>
    </div>
</div>

@code {

    private async void Dispose()
    {
        await _FavorisService.DisposeAsync();
    }
    
    protected override Task OnInitializedAsync()
    {
        _PizzasViewModel.PropertyChanged += async (sender, e) =>
        {
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
        return base.OnInitializedAsync();
    }
}